.questions {
  width: 100%;
  margin-top: 90px;
  display: flex;
}

.line {
  width: 184px;
  height: 4px;
  background: #00c368;
  margin: 100px auto 0 auto;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #2e3a59;
  text-transform: none;
  text-align: center;
  margin: 1.7vh auto 0 auto;
  padding: 0 4.7vw 0 6.3vw;
}

.rightBlock {
  flex: 1;
}

.quote {
  margin-top: 48px;
  padding: 0 2.6vw 0 6.8vw;
}

.quote-photo {
  position: absolute;
  width: 11.2vw;
}

.quote-image1 {
  margin: 0 0.6vw 0 -2.6vw;
}

.quote-image2 {
  width: 40px;
  height: 26px;
  margin-top: 5px;
}

.quote-text {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 14vw;
  line-height: 150%;
  color: #2e3a59;
}

.quote-bottom {
  display: flex;
  justify-content: space-between;
}

.quote p {
  font-weight: 700;
  margin-top: 5px;
}

.quote-box {
  display: flex;
}

.quote-right {
  display: flex;
  width: 12.6vw;
  padding: 0;
  margin-top: 12.5vh;
}

.quote-photo-mini1 {
  width: 5.8vw;
  position: absolute;
  margin: -0.5vw 0.6vw 0 12vw;
}

.quote-left {
  width: 12.6vw;

  margin: 12.5vh 0 0 -2vw;
}

.quote-photo-mini2 {
  width: 5.8vw;
  position: absolute;
  margin: -0.4vw 0 0 -6.5vw;
}

@media only screen and (max-width: 1200px) {
  .quote-right {
    margin-top: 2vw;
  }
  .quote-left {
    margin-top: 2vw;
  }
}

/*________________________________________________________________________*/

.leftBlock {
  flex: 1;
}

.title-left {
  margin: 1.7vh 3.5vw 0 3.5vw;
}

.title-left p {
  font-size: 1rem;
  font-weight: 400;
  color: #2e3a59;
}

.block {
  margin-top: 2.3vh;
  padding-left: 4.9vw;
}

.image-and-text {
  display: flex;
  align-items: center;
}

.text-span {
  color: #2e3a59;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 7.8vw 0 1.8vw;
  cursor: pointer;
}

.green-color {
  color: #00c368;
}

.hidden {
  display: none;
}

.hidden-text {
  font-size: 1rem;
  margin: 0.9vh 7.8vw 0 3.8vw;
  color: #2e3a59;
}

.arrow {
  margin-right: 3vw;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .text-span {
    margin: 0 3vw 0 1.8vw;
  }
}

@media only screen and (max-width: 700px) {
  .questions {
    flex-flow: wrap;
  }
  .rightBlock {
    order: 2;
  }
  .leftBlock {
    order: 1;
  }
  .title {
    font-size: 1.5rem;
    padding: 0 4.7vw 0 6.3vw;
  }
  .block {
    margin-top: 5vh;
     }

  .block-image{
    display: none;
  }
  .text-span {
    font-size: 1rem;
  }
  .line {
    margin: 50px auto 0 auto;
  }
  .quote-photo {
    display:block;
    margin-left:auto;
    margin-right:auto;
  position: relative;
    width: 30vw;
  }
  .quote-text {
    padding: 0;
  }

}
