.questions {
  width: 100%;
  margin-top: 8vh;
  display: flex;
}

.line {
  width: 184px;
  height: 4px;
  background: #00c368;
  margin: 9.3vh auto 0 auto;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #2e3a59;
  text-transform: none;
  text-align: center;
  margin: 1.7vh auto 0 auto;
  padding: 0 4.7vw 0 6.3vw;
}

.right {
  flex: 1;
}

.quote {
  margin-top: 48px;
  padding: 0 2.6vw 0 6.8vw;
}

.quote__photo {
  position: absolute;
  width: 11.2vw;
}

.quote__image1 {
  margin: 0 0.6vw 0 -2.6vw;
}

.quote__image2 {
  width: 40px;
  height: 26px;
  margin-top: 5px;
}

.quote__text {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 14vw;
  line-height: 150%;
  color: #2e3a59;
}

.quote__bottom {
  display: flex;
  justify-content: space-between;
}

.quote p {
  font-weight: 700;
  margin-top: 5px;
}

.quote__box {
  display: flex;
  margin-bottom: 50px;
}

.quote__right {
  display: flex;
  width: 12.6vw;
  padding: 0;
  margin-top: 12.5vh;
}

.quote__photo_mini1 {
  width: 5.8vw;
  position: absolute;
  margin: -0.5vw 0.6vw 0 12vw;
}

.quote__left {
  width: 12.6vw;

  margin: 12.5vh 0 0 -2vw;
}

.quote__photo_mini2 {
  width: 5.8vw;
  position: absolute;
  margin: -0.4vw 0 0 -6.5vw;
}

@media only screen and (max-width: 1200px) {
  .quote__right {
    margin: 0;
  }
  .quote__left {
    margin: 0;
  }
}

/*________________________________________________________________________*/

.left {
  flex: 1;
}

.title__left {
  margin: 1.7vh 3.5vw 0 3.5vw;
}

.title__left p {
  font-size: 1rem;
  font-weight: 400;
  color: #2e3a59;
}

.block {
  margin-top: 2.3vh;
  padding-left: 4.9vw;
}

.image_and_text {
  display: flex;
  align-items: center;
}

.text_span {
  color: #2e3a59;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 7.8vw 0 1.8vw;
  cursor: pointer;
}

.green_color {
  color: #00c368;
}

.hidden {
  display: none;
}

.hidden__text {
  font-size: 1rem;
  margin: 0.9vh 7.8vw 0 3.8vw;
  color: #2e3a59;
}

.hidden__text:last-child {
  margin-bottom: 5vh;
}

.arrow {
  margin-right: 3vw;
  cursor: pointer;
}

@media only screen and (max-width: 1224px) {
  .text_span {
    margin: 0 3vw 0 1.8vw;
  }
}

@media only screen and (max-width: 767px) {
  .questions {
    flex-flow: wrap;
    padding-bottom: 30px;
    margin-top: 4vh;
  }
  .rightBlock {
    flex: auto;
    order: 2;
  }
  .leftBlock {
    flex: auto;
    order: 1;
  }
  .title {
    font-size: 1.5rem;
    padding: 0 4.7vw 0 6.3vw;
  }
  .block {
    margin-top: 5vh;
    padding-left: 1vw;
  }

  .block__image,
  .quote__image1,
  .quote__image2 {
    display: none;
  }
  .text_span {
    font-size: 1rem;
  }
  .line {
    margin: 50px auto 0 auto;
  }

  .quote {
    padding: 0 2.6vw 0 4vw;
  }
  .quote__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30vw;
  }
  .quote__text {
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }

  .hidden__text:last-child {
    margin-bottom: 0;
  }

  .quote__block {
    display: block;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    width: 100%;
    height: 100%;
  }

  .quote p {
    margin-left: auto;
    margin-right: auto;
  }

  .arrow {
    margin-left: 4vw;
  }
  .quote__box {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .quote__right,
  .quote__left {
    width: 100%;
    margin-top: 5vh;
  }

  .quote__box p {
    margin: 10px 0 0 0;
    text-align: left;
  }

  .quote__box .quote__text {
    padding: 0;
    text-align: left;
  }

  .quote__photo_mini1,
  .quote__photo_mini2 {
    position: relative;
    width: 20vw;
    height: 20vw;
    margin: 0;
  }
  .quote__photo_mini2 {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .quote__right {
    margin-top: 6vh;
  }

}
