.main {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}
.line-main {
  width: 184px;
  height: 4px;
  background: #00c368;
  margin: 75px auto 0 auto;
}

.title-main {
  font-weight: 700;
  font-size: 40px;
  color: #2e3a59;
  text-transform: uppercase;
  text-align: center;
  margin: 22px auto 0 auto;
}

.about {
  text-align: center;
  margin-top: 69px;
}

.top_and_bottom {
  display: flex;
  justify-content: space-around;
  margin: 0 8vw 0 6vw;
}

.middle {
  display: flex;
  align-items: center;
}

.about1 {
  width: 176px;
}

.about2 {
  width: 179px;
}

.about3 {
  width: 186px;
}
.about4 {
  width: 178px;
}
.about5 {
  width: 178px;
}
.about6 {
  width: 199px;
}

.about-image {
  width: 7.8vh;
}

.main-image {
  width: 58%;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media only screen and (max-width: 1100px) {
  .main-image {
    width: 60%;
    top: 620px;
  }
}

@media only screen and (max-width: 900px) {
  .main-image {
    width: 65%;
    top: 600px;
  }
  .about-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .line-main,
  .about1,
  .about2,
  .about3,
  .about4,
  .about5,
  .about6 {
    display: none;
  }
  .main-image {
    position: absolute;
    top: 150px;
    width: 100%;
  }

  .title-main {
    margin-top: calc(100% - 120px);
    font-size: 1.8rem;
       opacity: 0.5;
  }
}
